<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/game.css">
    <script src="https://kit.fontawesome.com/a4c5d81377.js" crossorigin="anonymous"></script>
    <title>Uno - Game</title>
</head>

<body id="body">
    <div id="assetsDownloader">
        <h4>Download assets necessari..</h4>
        <p id="assetsStatus" style="color:chocolate"></p>
    </div>
    <div class="controls">
        <div id="chatBtn" onclick="openChat()">
            <i class="fa-solid fa-comments"></i>
        </div>
        <div id="settingsBtn" onclick="openSettings()">
            <i class="fa-solid fa-sliders"></i>
        </div>
    </div>
    <div id="chat" style="display:none">
        <div class="title">
            <h3>Game chat</h3>
            <h4 style="color:yellow;cursor:pointer" onclick="closeChat()">[Chiudi]</h4>
        </div>
        <div id="chatMessages">
        </div>
        <form action="" id="chatForm">
            <input type="text" name="chatMsg" id="chatMsg" placeholder="Scrivi un messaggio...">
            <input type="submit" value=" Invia " id="chatInput">
        </form>
    </div>
    <div class="gameWait" id="gameWait">
        <div class="cont" id="gwCont">
            <img src="imgs/logo.png" alt="" style="width: 150px; margin:auto;">
            <span>
                <h2>Codice / Link</h2>
                <p id="gwCode"></p>
                <p id="gwLink"><i class="fa-solid fa-clipboard"></i> Copia link</p>
            </span>
            <span id="gwPlayers">
            </span>
            <span>
                <h2 id="gwState"></h2>
            </span>
        </div>
    </div>
    <div id="gameTable" style="display:none">
        <div class="box"></div>
        <div class="box two" name="pl2_box">
            <div class="otherCards" name="pl2_cards"></div>
            <p class="username" name="pl2_username"><i class="fa-solid fa-user"></i> pl2</p>
        </div>
        <div class="box"></div>
        <div class="box one" name="pl1_box">
            <div class="otherCards" name="pl1_cards"></div>
            <p class="username" name="pl1_username"><i class="fa-solid fa-user"></i> pl1</p>
        </div>
        <div class="box table">
            <div id="cardsTable"></div>
            <div id="cardPicker">
                <p id="cardPicker_status">Attendi il tuo round</p>
                <img src="imgs/deck/back.png" alt="" style="width: 75px">
            </div>
        </div>
        <div class="box three" name="pl3_box">
            <div class="otherCards" name="pl3_cards"></div>
            <p class="username" name="pl3_username"><i class="fa-solid fa-user"></i> pl3</p>
        </div>
        <div class="box"></div>
        <div class="box main" name="pl0_box">
            <p class="username" name="pl0_username"><i class="fa-solid fa-user"></i> mainP</p>
            <div class="usrCards disable" name="pl0_cards"></div>
        </div>
        <div class="box"></div>
    </div>
    <div id="colorChooser" style="display: none">
        <div class="cont">
            <h2>Seleziona colore</h2>
            <div id="colorChooser_cards"></div>
        </div>
    </div>
    <div id="winnerContainer" style="display:none">
        <div class="cont">
            <h3>Fine partita</h3>
            <img src="imgs/logo.png" alt="" style="width: 150px; margin:auto;">
            <span>
                <h1 id="winner_username" style="color:gold">n/A</h1>
                <h2>Ha vinto la partita!</h2>
            </span>
            <a href="/" style="background: green;">Home</a>
        </div>
    </div>
    <div id="settings" class="closed">
        <div id="settings_music" class="item" onclick="toggleMusic()">
            <i class="fa-solid fa-music"></i>
            <p>Musica</p>
        </div>
        <div id="settings_audio" class="item" onclick="toggleAudio()">
            <i class="fa-solid fa-volume-high"></i>
            <p>Audio</p>
        </div>
        <div id="settings_info" class="item" onclick="alert('Sinceramend m so rott u cazz. Quando avrò voglia creo questa sezione.')">
            <i class="fa-solid fa-info"></i>
            <p>Info</p>
        </div>
        <div class="closeBtn" onclick="closeSettings()">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
    <div id="firstDiv" onclick="setFirstInteraction()">
        <img src="imgs/cat2.png" alt="">
        <p>Clicca il micietto per iniziare</p>
        <p style="color:gray">Questa prima interazione serve per consentire al tuo browser di riprodurre l'audio del gioco.</p>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/gameWait.js"></script>
    <script src="js/inGame.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/chat.js"></script>
    <script src="js/audio.js"></script>
    <script src="js/main.js"></script>
    <script src="js/assets.js"></script>
</body>

</html>